.todo-list-item {
    list-style-type: none;
    font-size: 18px;
    min-height: max-content;
    padding: 18px 20px;
    border-radius: 8px;
    background-color: white;
    border-left: 5px solid #b0b0b0;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.todo-list-item__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-item__view {
    margin: 0;
    font-size: 16px;
}

.todo-list-item__input {
    display: none;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.todo-list-item__edit {
    font-size: 16px;
    background-color: #2979ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.todo-list-item__edit:hover {
    background-color: #1a68e6;
}

.todo-list-label {
    font-size: 20px;
    width: max-content;
    padding: 10px 15px;
    border-radius: 6px;
    color: #ffffff;
    height: 35px;
    background-color: #2979ff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list {
    padding-left: 0;
    display: grid;
    row-gap: 15px;
}

.todo-list-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
