.addnewtaskform{
    background-color: white;
    width: 400px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px; 
    display: grid;

}
.addnewtaskform-label{
    height:28px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
.header {
    height: 60px;
    width: 100%;
    background-color: #2979ff;
    color: white;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.header-label{
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
}
.todo-list-item {
    display: flex; 
    list-style-type: none;
    font-size: 20px;
    min-height: max-content;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    border-left: 5px solid #b0b0b0;
    font-family: 'Open Sans', sans-serif;
}
.todo-list-item-backlog {
    border-left: 5px solid #b0b0b0;
}
.todo-list-item-processing {
    border-left: 5px solid #7bf0e6;
}
.todo-list-item-ready {
    border-left: 5px solid #26fd5c;
}
.todo-list-item-bin {
    border-left: 5px solid #d82424;
}
body{
    background-color:#dff5f8;
}
.task--input{
    pointer-events: none;
    width: 85%;
    color: black;
    outline: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.task__edit{
    border: none;
    outline: none; 
    background-color: white;
}
.todo-list-label{
    font-size:20px;
    width: max-content;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color:#302f2f;
    height: 35px;
    background-color: #b0b0b0; font-family: 'Open Sans', sans-serif;
}
.todo-list-label-backlog{
    background-color: #b0b0b0;
}
.todo-list-label-processing{
    background-color: #7bf0e6;
}

.todo-list-label-ready{
    background-color: #26fd5c;
}.todo-list-label-bin{
    background-color: #d82424;
}


.todo-list{
    padding-left: 0%;
    display:grid;
    row-gap: 15px;
}
.todo-lists-space{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    column-gap: 50px;
}
.todo-list-box{
    height: max-content;
    width: 25%;
    display: grid;
}
.new-item-input{
    height: 100%-2px;
    flex: 1; 
    margin-right: 10px; 
    border: 1px solid #757575;
    border-radius: 10px;
}

.new-item-add-button{
    font-size: 16px;
    height: 100%;
    width: max-content;
    border-radius: 10px;
    background-color: #2979ff;
    border: 1px dashed;
    color:white;
    border: 0px;
    padding-left: 30px;
    padding-right: 30px; font-family: 'Open Sans', sans-serif;
} 
.new-item-element{
    height: 45px;
    display: flex; 
    align-items: stretch;  font-family: 'Open Sans', sans-serif;
}


.clear-button{
    font-size:20px;
    width: 100%;
    
    height: 50px;
    border-radius: 10px;
    background-color: #d82424;
    color:white; font-family: 'Open Sans', sans-serif;
}